<h1>
  Actor #<%= @the_actor.id %> details
</h1>

<a href="/actors" class="btn btn-block btn-outline-secondary">
  Go back
</a>

&nbsp;|&nbsp;

<a href="/delete_actor/504" class="btn btn-block btn-outline-secondary">
  Delete actor

</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @the_actor.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @the_actor.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @the_actor.bio %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <%= @the_actor.image %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@the_actor.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@the_actor.updated_at) %> ago
  </dd>
</dl>

<hr>

<h2>Filmography</h2>

<table border="1">
<% @list_of_characters.each do |entry| %>
  <tr>
    <td> 
    <% ttemp = Movie.where({ :id => entry.movie_id}).at(0) %>
    <%= ttemp.title %> 
    </td>
    <td> 
    <% ytemp = Movie.where({ :id => entry.movie_id}).at(0) %>
    <%= ytemp.year %> 
    </td>

    <td> 
    <% mtemp = Movie.where({ :id => entry.movie_id}).at(0) %>
    <% dtemp = mtemp.director_id %>
    <% director = Director.where({:id => dtemp}).at(0)  %>
    <%= director.name %> 
    </td>

    <td> <%= entry.name %> </td>
    <td> 
      <a href="/movies/<%=entry.id%>">
      Show details
      </a>
    </td>
  </tr>
<% end %>
</table>
